# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Editors / IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Shell
*.log
*.bak
*.tmp

# Environment
.env
.env.*

# builds
build
*.skill
package_skill.py
quick_validate.py

# Python
__pycache__

# other
.claude
.cursor